{% extends 'C:\Users\Андрей\Desktop\ВЕБ\Raschet-master\Ras\part3\templates\mainframe.html' %}

{% block content %}

<div id = "part3_4" >
    <h1 style="color: #812390">
        Результат
    </h1>

    <ul>

        VsegoElements = ${VsegoElements = Out1[Out1.length-1]["Elements"]}
        Smax = ${Smax = Out2[Out2.length-1]["Smax"]}


        <div v-for="N, id in VsegoElements">
            Sci = ${Sci[id] = Out2[Out2.length-VsegoElements-1+N]["Sc"]}
            <div v-if="Smax < Sci[id]">
                Pporazh${id} = ${Pporazh[id] = Smax/Sci[id]}
            </div>
            <div v-else>
                Pporazh${id} = ${Pporazh[id] = 1}
            </div>

            Pvskrel${id} = ${Pvskrel[id] = 1 - Math.exp((-1)*Out3[Out3.length-VsegoElements-1+N]["Nvapp"]/Out3[Out3.length-VsegoElements-1+N]["Nap"])}
            Pdost${id} = ${Pdost[id] = Out3[Out3.length-VsegoElements-1+N]["Peffpvo"]*Out3[Out3.length-VsegoElements-1+N]["Peffreb"]}

            Pzhivel${id} = ${Pzhivel[id] = 1 - (Pvskrel[id]*Pporazh[id]*Pdost[id])}



        </div>




<!--        Число элементов = ${ Elements = Out1[Out1.length-1]["Elements"] }-->





    </ul>

</div>

{% endblock %}